@page "/"
@page "/Home"

<div class="card p-4" style="background-color: rgba(0, 150,136, 0.126); color:black;">

    <h4>Seja Bem Vindo ao Blazor - WebMaps</h4>

    <div class="small">
        Plataforma de mapeamento cartografico gratuito. Marcação ponto a ponto ou leitura de arquivo KML.
    </div>
</div>