
@inherits LeafletMapBase

<button class="btn btn-sm btn-outline-primary" @onclick="AplicarMarcacoes">Aplicar Marcações</button>
<button class="btn btn-sm btn-outline-warning" @onclick="RemoverMarcacoes">Remover Marcações</button>
@*<button class="btn btn-sm btn-outline-primary" @onclick="AplicarMarcacoesDois">Aplicar Marcações Dois</button>*@

<div class="mt-2" id='mapDIV'></div>
